<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base_page ::Layout('MyShop | Create New Invoice',~{::link},~{:: .main-section},~{::script},~{:: .header-section})">
<head>
	<title>Add New Product Page</title>
	<link th:href="@{/css/plugins/select2/select2.min.css}" rel="stylesheet">
	</link>
	<link th:href="@{/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css}" rel="stylesheet">
	<link th:href="@{/css/plugins/slick/slick.css}" rel="stylesheet">
	<link th:href="@{/css/plugins/slick/slick-theme.css}" rel="stylesheet">
	<link th:href="@{/css/createNewInvoicePage.css}" rel="stylesheet">
	</link>
</head>
<body>
	<div class="header-section">
		<div class="col-sm-4">
			<h2>Generate Product Invoice</h2>
			<ol class="breadcrumb">
				<li>
					<a th:href="@{/ViewProduct/createNewInvoicePage}"> Invoice Management</a>
				</li>
				<li class="active">
					<strong>Create New Invoice</strong>
				</li>
			</ol>
		</div>
		<div class="col-sm-8 text-right" style="margin-top: 19px;padding-right: 18px;">
			<h4>Invoice No.</h4>
			<h4 class="text-navy" id="setInvoiceID"></h4>
		</div>
	</div>
	<div class="main-section">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form role="form" id="createInvoiceForm">
							<div class="row">
								<div class="col-lg-12">
									<fieldset class="scheduler-border">
										<legend class="scheduler-border">Customer Details</legend>
										<div class="row">
											<div class="col-lg-3">
												<div class="form-group">
													<label>Customer Name</label>
													<input type="text" placeholder="Enter Customer Name"
														class="form-control" id="customerName" name="customerName">
												</div>
											</div>
											<div class="col-lg-3">
												<div class="form-group"><label>Customer Mobile Number</label> <input
														type="text" minlength="10" maxlength="10"
														placeholder="Enter Mobile Number" class="form-control"
														name="customerMobileNumber" id="customerMobileNumber"></div>
											</div>
											<div class="col-lg-2 col-lg-offset-3">
												<div class="form-group"><label>Invoice Date</label> <input type="Date"
														placeholder="Select Invoice Date" class="form-control"
														name="invoiceDate" id="invoiceDate"></div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6">
												<div class="form-group">
													<label>Customer Address</label>
													<textarea placeholder="Enter Customer Address" class="form-control"
														id="customerAddress" name="customerAddress" style="resize:none"
														rows="3"></textarea>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<fieldset class="scheduler-border" id="pd-details-div">
										<legend class="scheduler-border">Product Details</legend>
										<div class="row">
											<div class="col-lg-3">
												<div><label>Select Product Type</label>
													<select id="productTypeSelectOption" name="productTypeSelectOption"
														class="select2_demo_3 form-control">
													</select>
												</div>

											</div>
											<div class="col-lg-3">
												<div><label>Select Product Company</label>
													<select id="productCompanySelectOption"
														name="productCompanySelectOption"
														class="select2_demo_3 form-control">
													</select>
												</div>

											</div>
											<div class="col-lg-3 ">
												<div><label>Select Product Model</label>
													<select id="productModelSelectOption"
														name="productModelSelectOption"
														class="select2_demo_3 form-control">
													</select>
												</div>

											</div>
											<div class="col-lg-3 ">
											</div>
										</div>
										<br />

										<div class="row rowPadding">
											<div class="col-lg-12" style="background-color: #f3f3f3;">
												<div style="margin:20px; background-color: #f3f3f3;">
													<div class="slick_demo_2" id="productInfoDiv"
														style="margin-bottom: -20px;">

													</div>
												</div>
											</div>

										</div>
									</fieldset>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-8">
									<fieldset class="scheduler-border" id="invoice-fieldSet">
										<legend class="scheduler-border" id="invoice-legend">Invoice Details</legend>
										<div class="row">
											<div class="col-lg-12">
												<div class="ibox float-e-margins">
													<div class="ibox-title">
														<h5>Invoice Product Entry</h5>
														<div class="ibox-tools">
															<a class="collapse-link">
																<i class="fa fa-chevron-up"></i>
															</a>
														</div>
													</div>
													<div class="ibox-content">
														<table class="table table-hover" id="tbl-invoice">
															<thead>
																<tr>
																	<th>#</th>
																	<th class="text-center">Product Id</th>
																	<th class="text-center">Company</th>
																	<th class="text-center">Model</th>
																	<th class="text-center">Quantity</th>
																	<th class="text-center">Total Price</th>
																	<th class="text-center">Action</th>
																</tr>
															</thead>
															<tbody id="tbl-invoice-body">

															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="col-lg-4">
									<fieldset class="scheduler-border">
										<legend class="scheduler-border">Invoice Total</legend>
										<div class="row">
											<div class="col-lg-12">
												<table class="table invoice-total">
													<tbody>
														<tr>
															<td><strong>Sub Total :</strong></td>
															<td id="subTotal"></td>
														</tr>
														<tr>
															<td><strong>Tax(GST) :</strong></td>
															<td id="Tax" class="text-navy">
																<p>12% <span id="perValue"
																		style="color: black;background-color: #f3f3f3;"><b>0</b></span>
																</p>
															</td>
														</tr>
														<tr>
															<td><strong>Total :</strong></td>
															<td id="Total"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-7" style="padding-left: 129px;"><a
													th:href="@{/ViewProduct/createNewInvoicePage}"
													class="btn btn-outline btn-danger btn-sm">Reset Invoice</a></div>
											<div class="col-lg-5"><button type="submit" id="btn-generateInvoice"
													class="btn btn-outline btn-primary btn-sm">Generate Invoice</button>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/plugins/select2/select2.full.min.js}"></script>
	<!-- TouchSpin -->
	<script th:src="@{/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js}"></script>
	<script th:src="@{/js/plugins/typehead/bootstrap3-typeahead.min.js}"></script>

	<!-- slick carousel-->
	<script th:src="@{/js/plugins/slick/slick.min.js}"></script>
	<script th:src="@{/js/customjs/createNewInvoice.js}"></script>

</body>

</html>