<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base_page ::Layout('MyShop | Invoice Page',~{::link},~{:: .main-section},~{::script},~{:: .header-section})">

<head>
	<title>Add New Product Page</title>
	<link th:href="@{/css/generateInvoicePage.css}" rel="stylesheet">
	</link>
</head>

<body>
	<div class="header-section">
		<div class="col-lg-8">
			<h2>Invoice</h2>
			<ol class="breadcrumb">
				<li>
					<a href="index.html">Invoice Management</a>
				</li>
				<li>
					Create New Invoice
				</li>
				<li class="active">
					<strong>Invoice</strong>
				</li>
			</ol>
		</div>
		<div class="col-lg-4">
			<div class="title-action">
				<a type="button" id="btn-edit-invoice" class="btn btn-white"><i class="fa fa-pencil"></i> Edit </a>
				<a type="button" id="btn-save-invoice" class="btn btn-white"><i class="fa fa-check "></i> Save </a>
				<a id="btn-invoice-print" class="btn btn-primary"><i class="fa fa-print"></i> Print
					Invoice </a>
			</div>
		</div>
	</div>
	<div class="main-section">
		<div class="ibox-content p-xl" id="invoice-div-print">
			<div class="row">
				<div class="col-sm-6">
					<h5>From:</h5>
					<address>
						<strong>MyShop, Inc.</strong><br>
						<abbr title="Phone">P:</abbr> (91) 8989890909
					</address>
				</div>

				<div class="col-sm-6 text-right">
					<h4>Invoice No.</h4>
					<h4 class="text-navy" id="invoiceID"></h4>
					<span>To:</span>
					<address>
						<strong id="customerName"></strong><br>
						<p id="customerAddress"></p>
						
						<abbr title="Phone">P: <span id="customerMobileNumber"></span></abbr> 
					</address>
					<p>
						<span><strong>Invoice Date: </strong><span id="invoiceDate"></span></span><br />
						
					</p>
				</div>
			</div>

			<div class="table-responsive m-t">
				<table class="table table-hover" id="tbl-invoice">
					<thead>
						<tr>
							<th>#</th>
							<th class="text-center">Product Id</th>
							<th class="text-center">Company</th>
							<th class="text-center">Model</th>
							<th class="text-center">Quantity</th>
							<th class="text-center">Total Price</th>

						</tr>
					</thead>
					<tbody id="tbl-generate-invoice-body">

					</tbody>
				</table>
			</div><!-- /table-responsive -->

			<table class="table invoice-total">
				<tbody>
					<tr>
						<td><strong>Sub Total :</strong></td>
						<td><span id="invoiceSubTotal"></span></td>
					</tr>
					<tr>
						<td><strong>TAX :</strong></td>
						<td><span id="invoiceTax"></span></td>
					</tr>
					<tr>
						<td><strong>TOTAL :</strong></td>
						<td><span id="invoiceTotal"></span></td>
					</tr>
				</tbody>
			</table>
			<div class="text-right">
				<button class="btn btn-primary"><i class="fa fa-dollar"></i> Make A Payment</button>
			</div>


		</div>
	</div>
		<script th:src="@{/js/customjs/generateInvoicePage.js}"></script>
</body>

</html>