<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base_page ::Layout('MyShop | Home Page',~{::link},~{:: .main-section},~{::script},~{:: .header-section})">
<head>
<title>Add New Product Page</title>
<link th:href="@{/#}"  rel="stylesheet"></link>
</head>
<body>
<div class="header-section">
   <div class="col-sm-4">
                    <h2>Add New Product</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">This is</a>
                        </li>
                        <li class="active">
                            <strong>Breadcrumb</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-sm-8">
                    <div class="title-action">
                        <a href="" class="btn btn-primary">This is action area</a>
                    </div>
                </div>
</div>
<div class="main-section">
AAAA
</div>
<script th:src="@{/#}"></script>
</body>
</html>